.promotion-form__group{
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.promotion-form__group label {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  color: #555;
}

.promotion-form__group input {
  border: 1px solid #aaaa;
  border-radius: 0.5rem;
  background-color: #fff;
  height: 2.5rem;
  padding: 0 0.8rem;
}