.ui-modal{
  background-color: #fff;
  border-radius: 0.2rem;
  max-width: 800px;
  margin: 5rem auto 0 auto;
  padding: 1rem;
}

.ui-modal__overlay{
  position:fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.ui-modal__close-button{
  float: right;
  background: unset;
  border: unset;
}